/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared style */
/* shared style */
/* shared style */

.secondery-background {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: 181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}
.text-center {
  text-align: center;
}

/* Nav style */
/* Nav style */
/* Nav style */

.nav-title {
  font-weight: 800px;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
/* Hader styles  */
.header {
  background-image:
    url("../images/developer.png"), url("..\\images\\header_bg.png");

  background-repeat: no-repeat;
  background-position:
    top left,
    bottom right;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
}
.banner-content {
  max-width: 585px;
}

.banner-grettings {
  font-weight: semi bold;
  font-size: 45px;
  color: #474747;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;

  color: #181818;
}
.banner-description {
  font-weight: reguler;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.banner-profile-picture {
  width: 584 px;
}
/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 130px;
}

/* About style */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30;
}
.item-description {
  font-weight: bold;
}

/* Skills-styles */
.skills-container {
  display: flex;
  gap: 24px;
  border-radius: 5px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.section-description {
  margin: 30px 110px 50px;
}
/* resume section styles */
.resume-container {
  display: flex;
  gap: 24px;
}
.experience-description {
  color: #757575;
}
.experience-sub-title {
  color: #757575;
  font-size: 20px;

  margin-bottom: 20px;
}
.resume-download-cv {
  margin-top: 50px;
}
/* Footer styele */
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column {
  width: 50%;
}
footer input[type="text"],
[type="email"] {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: 0;
}
button {
  display: block;
  margin-top: 24px;
}
.border {
  border: none;
  padding: 30px 20px;
}
